#newsPost
{
  border-style: solid;
  border-radius: 10px;
  border-color: #757575;
}

#newsPost h3
{
  text-align: center;
}

@font-face {
  font-family: Modern Sans;
  src: url(./fonts/modernssans-light.ttf);
}
