html,
body,
#tv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translate3d(0, 0, -1);
  -moz-transform: translate3d(0, 0, -1);
  transform: translate3d(0, 0, -1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
@font-face {
    font-family: "Strasua";
    src: url(../strasua.ttf) format("truetype");
}
* {
    font-family: Strasua;
    color: White;
}

.footer {
  background: #000000;
  padding: 10px 0;
}
.footer a {
  color: #000000;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}
